.sh-avatar-circle {
  border-radius: 50%;
}

.sh-avatar-square {
  border-radius: 2px;
}

.sh-avatar {
  position: relative;
}

.sh-avatar-lg {
  height: 42px;
  width: 42px;
}

.sh-avatar-md {
  height: 36px;
  width: 36px;
}

.sh-avatar-sm {
  height: 30px;
  width: 30px;
}

.sh-avatar-icon {
  align-items: center;
  color: #fff;
  display: flex;
  font-size: 16px;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.sh-avatar-icon svg {
  height: 46%;
  width: 46%;
}

.sh-avatar-text {
  align-items: center;
  border-radius: inherit;
  color: #ffffff;
  display: flex;
  font-size: 14px;
  height: 100%;
  justify-content: center;
  line-height: 1;
  width: 100%;
}

.sh-avatar img {
  border-radius: inherit;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.avatar-animated img {
  opacity: 0;
  position: relative;
  transform: scale(0);
  transition: 0.3s;
}

.avatar-animated::before {
  animation: l1 1s infinite linear;
  background: linear-gradient(90deg, #0001 33%, #0005 50%, #0001 66%) #bbb;
  background-size: 300% 100%;
  border-radius: 999px;
  content: "";
  height: 10%;
  left: 50%;
  max-height: 10px;
  max-width: 300px;
  min-height: 6px;
  opacity: 1;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  visibility: visible;
  width: 80%;
}

@keyframes l1 {
  0% {
    background-position: right
  }
}

.avatar-animated.avatar-loaded img {
  opacity: 1;
  transform: scale(1);
}

.avatar-animated.avatar-loaded::before {
  opacity: 0;
  visibility: hidden;
}