@use './variables-global' as *;

.btn {
  align-items: center;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 2px 16px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
  transition: .3s;
}

.btn-blank {}

.btn-primary {
  background-color: $primary_color;
  border-color: $primary_color;
  color: #fff;
}

.btn-primary:hover {
  background-color: $primary_color_active;
  border-color: $primary_color_active;
}

.btn-info {
  background-color: $info_color;
  border-color: $info_color;
  color: #fff;
}

.btn-info:hover {
  background-color: $info_color_active;
  border-color: $info_color_active;
}

.btn-success {
  background-color: $success_color;
  border-color: $success_color;
  color: #fff;
}

.btn-success:hover {
  background-color: $success_color_active;
  border-color: $success_color_active;
}

.btn-default {
  background-color: #fff;
  border-color: #ccc;
  color: #333;
}

.btn-sm {
  font-size: 13px;
  height: 24px;
}

.btn-md {
  font-size: 14px;
  height: 32px;
}

.btn-lg {
  font-size: 15px;
  height: 40px;
}