@use './variables-global' as *;

.btn {
  align-items: center;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  gap: 8px;
  justify-content: center;
  padding: 2px 16px;
  transition: .3s;
}

.btn-blank {
  color: $primary_color;
}

.btn-primary {
  background-color: $primary_color;
  border-color: $primary_color;
  color: #fff;
}

.btn-primary:hover {
  background-color: $primary_color_active;
  border-color: $primary_color_active;
}

.btn-info {
  background-color: $info_color;
  border-color: $info_color;
  color: #fff;
}

.btn-info:hover {
  background-color: $info_color_active;
  border-color: $info_color_active;
}

.btn-success {
  background-color: $success_color;
  border-color: $success_color;
  color: #fff;
}

.btn-success:hover {
  background-color: $success_color_active;
  border-color: $success_color_active;
}

.btn-warning {
  background-color: $warning_color;
  border-color: $warning_color;
  color: #fff;
}

.btn-warning:hover {
  background-color: $warning_color_active;
  border-color: $warning_color_active;
}

.btn-danger {
  background-color: $danger_color;
  border-color: $danger_color;
  color: #fff;
}

.btn-danger:hover {
  background-color: $danger_color_active;
  border-color: $danger_color_active;
}

.btn-outline-primary {
  background-color: #fff;
  border-color: $primary_color_active;
  color: $primary_color_active;
}

.btn-outline-primary:hover {
  background-color: $primary_color;
  border-color: $primary_color;
  color: #fff;
}

.btn-outline-info {
  background-color: #fff;
  border-color: $info_color_active;
  color: $info_color_active;
}

.btn-outline-info:hover {
  background-color: $info_color;
  border-color: $info_color;
  color: #fff;
}

.btn-outline-success {
  background-color: #fff;
  border-color: $success_color_active;
  color: $success_color_active;
}

.btn-outline-success:hover {
  background-color: $success_color;
  border-color: $success_color;
  color: #fff;
}

.btn-outline-warning {
  background-color: #fff;
  border-color: $warning_color_active;
  color: $warning_color_active;
}

.btn-outline-warning:hover {
  background-color: $warning_color;
  border-color: $warning_color;
  color: #fff;
}

.btn-outline-danger {
  background-color: #fff;
  border-color: $danger_color_active;
  color: $danger_color_active;
}

.btn-outline-danger:hover {
  background-color: $danger_color;
  border-color: $danger_color;
  color: #fff;
}

.btn-sm {
  font-size: 13px;
  height: 24px;
}

.btn-md {
  font-size: 14px;
  height: 32px;
}

.btn-lg {
  font-size: 15px;
  height: 40px;
}

.btn-xl {
  font-size: 15px;
  height: 48px;
}

.btn:disabled {
  background-color: $disabled_color;
  color: #e0e0e0;
  cursor: not-allowed;
}