.date-picker-display {
  cursor: pointer;
  width: 100%;
}

.date-picker-panel {
  background: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.calendar-box {
  text-align: center;
  width: 230px;
}

.calendar-header {
  align-items: center;
  border-bottom: 1px solid #cfcfcf;
  display: flex;
  font-size: 13px;
  justify-content: space-between;
  padding: 5px;
}

.switch-date {
  align-items: center;
  display: flex;
}

.switch-date .btn {
  color: #666;
  font-size: 17px;
  padding-left: 0;
  padding-right: 0;
}

.calendar-grid {
  display: grid;
  font-size: 12px;
  gap: 7px 0;
  grid-template-columns: repeat(7, 1fr);
  padding: 5px 10px 10px;
}

.day-label {
  color: #222;
  padding: 6px 1px;
}

.day {
  align-items: center;
  color: #222;
  cursor: pointer;
  display: flex;
  height: 24px;
  justify-content: center;
  padding: 1px;
  width: 30px;
}

.day-container:hover .day,
.selected .day {
  background: #e6f3ff;
}

.start_date.selected .day,
.end_date.selected .day {
  background: #238dff;
  color: #fff;
}

.start_date.selected .day {
  border-radius: 4px 0 0 4px;
}

.end_date.selected .day {
  border-radius: 0 4px 4px 0;
}

.other-month .day {
  color: #6f6f6f;
}