.sh-icon {
  display: inline-block;
  vertical-align: -.155em;
}

.sh-icon-spin {
  animation: iSpin 2s infinite linear;
}

@keyframes iSpin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}