.sh-message-box-over {
  background: rgba(10, 10, 40, 0.88);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}

.sh-message-box-content {
  display: flex;
  flex-direction: column;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 343px;
  z-index: 999;
}

.box-content {
  background-color: #fff;
  border-radius: 16px;
}

.sh-message-box.success .sh-message-box-header h3 {
  color: #0fa97f;
}

.sh-message-box.error .sh-message-box-header h3 {
  color: #eb4747;
}

.sh-message-box.info .sh-message-box-header h3 {
  color: #31708f;
}

.sh-message-box.warning .sh-message-box-header h3 {
  color: #ed830b;
}

.sh-message-box-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  padding: 5px 16px 15px;
}

.sh-message-box-header h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  text-align: center;
}

.sh-message-box-header img {
  height: 110px;
  margin-top: -50px;
}

.sh-message-box-body {
  margin: 0 16px;
  padding: 15px 0 20px;
  position: relative;

  &:before {
    background: repeating-linear-gradient(90deg, #ccc 0 6px, transparent 6px 12px);
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.sh-message-box-body p {
  line-height: 1.43;
  margin: 0;
}

.sh-message-box-footer {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-top: 24px;
}

.sh-message-box-footer button {
  font-size: 16px;
  font-weight: 500;
  height: 48px;
}

.sh-message-box-footer .btn-cancel {
  border-color: #fff;
  color: #fff;
}