.pagination-container {
  align-items: center;
  display: flex;
  gap: 10px;
}

.page-number-container {
  display: flex;
  gap: 2px;
}

.pagination-container .btn {
  border-radius: 2px;
  height: 28px;
  padding: 1px;
  width: 28px;
}

.pagination-container .btn-blank {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #555;
}

.pagination-container .btn:disabled {
  background-color: #ebebeb;
}