.sh-page-header {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  button {
    font-size: 18px;
  }

  h1 {
    font-size: 28px;
    font-weight: 600;
    margin: 0;
  }
}