.sh-select-overlay {
  background-color: transparent;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: .3s;
  visibility: hidden;
  width: 100%;
  z-index: 999;
}

.sh-select.open .sh-select-overlay {
  opacity: 1;
  visibility: visible;
}

.visible_overlay .sh-select-overlay {
  background-color: rgba(0, 0, 0, 0);
  transition: .3s;
}

.visible_overlay.open .sh-select-overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

.sh-select {
  position: relative;
  width: 100%;

  .sh-select-selection {
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    height: 36px;
    justify-content: space-between;
    position: relative;

    input {
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }

    .tags {
      padding-right: 10px;
    }

    .tag {
      align-items: center;
      background: #e0e0e0;
      border-radius: 3px;
      display: inline-flex;
      margin: 2px 3px;
      padding: 5px;

      .remove-tag {
        cursor: pointer;
        margin-left: 5px;
      }
    }
  }

  .select-filter {
    background-color: #fff;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 99;
  }

  .filter-form {
    align-items: center;
    background-color: #f2f2f2;
    border-radius: 6px;
    display: flex;
    gap: 6px;
    height: 32px;
    padding: 0 10px;

    input {
      background-color: transparent;
      border: none;
      flex: 1 0 0;
      font-size: 14px;
      font-weight: 400;
      height: 100%;
      padding: 0;
    }
  }

  .content-single {
    padding: 10px 5px;
  }

  .dropdown-icon {
    height: 18px;
    margin-right: 8px;
    position: relative;
    width: 18px;

    &::before,
    &::after {
      border-top: 1px solid #ccc;
      content: "";
      position: absolute;
      top: 50%;
      transition: .3s;
      width: 58%;
    }

    &::before {
      left: 0;
      transform: rotate(45deg);
    }

    &::after {
      right: 0;
      transform: rotate(-45deg);
    }
  }

  .sh-select-reset {
    background-color: #D52A2A;
    border: none;
    border-radius: 99px;
    cursor: pointer;
    height: 25px;
    position: absolute;
    right: 9px;
    top: 50%;
    transform: translateY(-50%) scale(.65);
    width: 25px;

    &:before,
    &:after {
      background-color: #fff;
      border-radius: 99px;
      content: "";
      height: 2px;
      left: 16%;
      position: absolute;
      top: calc(50% - 1px);
      transform: rotate(45deg);
      width: 68%;
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  .results-zone {
    overflow: hidden;
    padding: 1px 12px 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }

  .placeholder-text {
    color: #707070;
    white-space: nowrap;
  }

  &.select-disabled .sh-select-selection {
    background-color: #d4d4d4;
    border-color: #d4d4d4;
    cursor: not-allowed;
  }

  &.select-disabled .results-zone>span {
    color: #707070;
  }
}

.sh-select-content {
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 11px 15px -7px rgba(0, 0, 0, .2), 0 24px 38px 3px rgba(0, 0, 0, .14), 0 9px 46px 8px rgba(0, 0, 0, .12);
  max-height: 220px;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: calc(100% + 8px);
  width: 100%;
  z-index: 1000;

  &::-webkit-scrollbar {
    background-color: #dfdfdf;
    border-radius: 99px;
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #c6c6c6;
    border-radius: 99px;
    transition: .3s;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #afafaf;
  }

  .sh-select-option {
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    transition: .3s;

    &:hover {
      background-color: #f0f0f0;
    }

    label {
      align-items: center;
      display: flex;
      gap: 17px;
      justify-content: space-between;
      padding: 4px 10px;
    }

    input {
      cursor: pointer;
      height: 100%;
      left: 0;
      margin: 0;
      opacity: 0;
      padding: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 9;
    }

    .remark {
      background-color: transparent;
      flex: 16px 0 0;
      height: 16px;
      width: 16px;
    }
  }

  input:checked~.remark {
    background: transparent url("/assets/images/icons/others/ico-check-1.svg") no-repeat center;
  }

  .content-group {
    margin: 10px 0 12px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .content-group>span {
    color: #008964;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 4px;
  }

  .content-group .sh-select-option {
    padding-left: 10px;
  }

  .loading {
    padding: 20px;
    text-align: center;
  }
}

.sh-select-content.drop_down {
  transform-origin: top;
}

.sh-select-content.drop_top {
  bottom: calc(100% + 8px);
  box-shadow: 0 -11px 15px -7px rgba(0, 0, 0, .2), 0 -24px 38px 3px rgba(0, 0, 0, .14), 0 -9px 46px 8px rgba(0, 0, 0, .12);
  top: auto;
  transform-origin: bottom;
}

.sh-select-content.display_center {
  left: 50%;
  max-height: min(600px, 80vh);
  max-width: calc(100% - 32px);
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.sh-select-content .text {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: 14px;
  font-weight: 400;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sh-select-content .text.clam-2 {
  -webkit-line-clamp: 2;
}

.sh-select-content .text.clam-3 {
  -webkit-line-clamp: 3;
}

.sh-select.open .dropdown-icon {
  &::before {
    transform: rotate(135deg);
  }

  &::after {
    transform: rotate(-135deg);
  }
}