.sh-slideshow {

  /* Gallery Thumbnails */
  .gallery {
    display: flex;
  }

  .gallery-item {
    border-right: 1px solid #e0e0e0;
    padding: 0 20px;

    &:first-child {
      padding-left: 16px;
    }

    &:last-child {
      border-right: none;
      border-right: 16px;
    }
  }

  .title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 0;
  }

  .thumbnail {
    border: 2px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    height: 96px;
    object-fit: cover;
    transition: 0.3s;
    width: 148px;
  }

  .thumbnail:hover {
    border-color: #007bff;
  }

  /* Popup Overlay */
  .popup-overlay {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: .4s;
    width: 100%;
    z-index: 1000;
  }

  &.show .popup-overlay {
    opacity: 1;
  }

  .slide-header {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 74px;
    justify-content: center;
    padding: 2px 40px;
  }

  .slide-header h3 {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
  }

  .slide-header p {
    font-size: 16px;
    margin: 0;
  }

  .popup-loading {
    align-items: center;
    background-color: #fff;
    border-radius: 6px;
    display: flex;
    height: 80px;
    justify-content: center;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    z-index: 1000;

    &::before {
      animation: spin 2s linear infinite;
      border: 2px solid;
      border-color: #ccc transparent #ccc transparent;
      border-radius: 999px;
      content: "";
      height: 50%;
      width: 50%;
    }
  }

  .popup-content {
    background: #f2f2f2;
    border-radius: 10px;
    height: 800px;
    left: 50%;
    opacity: 0;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    transition: .3s;
    visibility: hidden;
    width: 1040px;
    z-index: 1000;
  }

  .controls {
    height: 80px;
  }

  &.loaded .popup-content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
  }

  .close-btn {
    background: transparent;
    border: none;
    color: #000;
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    right: 10px;
    top: 10px;
  }

  /* Slideshow Styles */
  .slideshow-container {
    background-color: #fff;
    border-radius: 16px;
    height: 646px;
    margin: auto;
    position: relative;
    width: calc(100% - 48px);
  }

  .slide-item {
    display: none;
    height: 100%;
  }

  .slide-item.active {
    display: block;
  }

  .slide {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
  }

  .slide img {
    border-radius: 10px;
    max-height: 600px;
    max-width: 800px;
  }

  .prev,
  .next {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    padding: 5px 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }

}