.sh-message-box-over {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}

.sh-message-box-content {
  display: flex;
  flex-direction: column;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 343px;
  z-index: 999;
}

.box-content {
  background-color: #fff;
  border-radius: 16px;
}

.sh-message-box.success .sh-message-box-header h3 {
  color: #0fa97f;
}

.sh-message-box.error .sh-message-box-header h3 {
  color: #eb4747;
}

.sh-message-box.info .sh-message-box-header h3 {
  color: #31708f;
}

.sh-message-box.warning .sh-message-box-header h3 {
  color: #ed830b;
}

.sh-message-box-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;
}

.sh-message-box-header h3 {
  font-size: 18px;
  font-weight: 600;
}

.sh-message-box-header img {
  height: 110px;
  margin-top: -50px;
}

.sh-message-box-body {
  padding: 10px 16px;
  position: relative;

  &:before {
    background: repeating-linear-gradient(90deg, #ccc 0 6px, transparent 6px 12px);
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.sh-message-box-body p {
  line-height: 1.43;
  margin: 0;
}

.sh-message-box-footer {
  margin-top: 10px;
  text-align: right;
}

.sh-message-box-footer button {
  background-color: #007bff;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  font-size: 1em;
  padding: 5px 10px;
}

.sh-message-box-footer button:hover {
  background-color: #0056b3;
}