.tab-wrapper {
  display: flex;
}

.tab-header-container {
  border: solid #ddd;
  display: flex;
  gap: 8px 16px;
  position: relative;
}

.tab-header {
  cursor: pointer;
  padding: 12px 20px;
  transition: 0.3s;
}

.tab-header.active {
  color: #2196F3;
}

.tab-header.disabled {
  color: #9e9e9e;
  cursor: not-allowed;
}

.tab-indicator {
  background-color: #2196F3;
  height: 2px;
  position: absolute;
  transition: 0.3s;
}

.tab-top {
  flex-direction: column;

  .tab-header-container {
    border-width: 0 0 1px 0;
  }

  .tab-indicator {
    bottom: 0;
  }
}

.tab-bottom {
  flex-direction: column-reverse;

  .tab-header-container {
    border-width: 1px 0 0 0;
  }

  .tab-indicator {
    top: 0;
  }
}

.tab-left {
  flex-direction: row;

  .tab-header-container {
    border-width: 0 1px 0 0;
    flex-direction: column;
  }

  .tab-indicator {
    right: 0;
  }
}

.tab-right {
  flex-direction: row-reverse;

  .tab-header-container {
    border-width: 0 0 0 1px;
    flex-direction: column;
  }

  .tab-indicator {
    left: 0;
  }
}