$primary_color: #4186ff;
$primary_color_active: #1568f8;

$info_color: #56b3f1;
$info_color_active: #2d98df;

$success_color: #87B87F;
$success_color_active: #629B58;

$warning_color: #f7ae47;
$warning_color_active: #cb8420;

$danger_color: #D15B47;
$danger_color_active: #b73e28;

$primary_color_text: #333;
$disabled_color: #a1a6a9;

$persian_red: #ba0f00;