* {
  box-sizing: border-box;
  font-family: 'Sh', sans-serif;
}

.gray {
  color: #666 !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}