@use './variables';
@use './fonts';

@use './icon';
@use './form';
@use './input';
@use './avatar';
@use './button';
@use './dropdown';
@use './pagination';
@use './select';
@use './slideshow';
@use './date_picker';
@use './message_box';
@use './page_header';
@use './tabs';

.sh-overlay {
  background-color: transparent;
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: .3s;
  visibility: hidden;
  width: 100%;
  z-index: 999;
}

.open .sh-overlay {
  opacity: 1;
  visibility: visible;
}

.visible_overlay .sh-overlay {
  background-color: rgba(0, 0, 0, 0);
  transition: .3s;
}

.visible_overlay.open .sh-overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

.sh-reset {
  background-color: #a0a0a0;
  border-radius: 99px;
  height: 25px;
  transform: scale(.6);
  width: 25px;

  &:before,
  &:after {
    background-color: #fff;
    border-radius: 99px;
    content: "";
    height: 2px;
    left: 20%;
    position: absolute;
    top: calc(50% - 1px);
    transform: rotate(45deg);
    width: 60%;
  }

  &:after {
    transform: rotate(-45deg);
  }
}

.sh-control {
  background-color: #fbfbfb;
  border: 1px solid #dbdbdb;
  border-radius: 2px;
  transition: 0.3s;
}

.sh-control-sm {
  font-size: 13px;
  font-weight: 400;
  height: 28px;
}

.sh-control-md {
  font-size: 14px;
  font-weight: 400;
  height: 32px;
}

.sh-control-lg {
  font-size: 15px;
  font-weight: 500;
  height: 36px;
}

.sh-control-xl {
  font-size: 16px;
  font-weight: 500;
  height: 40px;
}